/* Footer.razor.css */

.footer-container {
    max-width: 1200px; /* Set the desired max-width */
    margin: 0 auto; /* Center the footer within the available width */
}

.footer-container {
    background-color: #802d2d;
    padding: 10px;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-links a {
    margin-right: 10px;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer-links a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
